body {
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    margin: 0;
    background: #FFE5D9;
}
#navbar {
    height: 3rem;
    background: #FEC89A;
    display: flex;
    align-items: center; 
    position: relative;
}
#navbar a {
    color: #fefae0;
    height: 100%;
    text-decoration: none; 
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0; 
}
#navbar a:hover {
    opacity: 0.2; 
    background-color: #bc6c25; 
}
.dropdown-menu {
    position: absolute; 
    top: 3rem;
    left: 85%; 
    z-index: 1000; 
    padding: 10px;
    background: #FEC89A;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hidden {
    display: none;
}
.dropdown-menu form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top-body {
    margin:2% 20% ;
}
.menu {
    display: flex; 
    justify-content: space-between;  
    padding: 20px;
}
.center {
    text-align: center;
}
.menu-column {
    flex: 1;
    margin: 0 10px; 
    background: #FEC89A;
    padding: 10px;
    border-radius: 5px;
}
.menu-column ul {
    list-style-type: none;  
    padding: 0; 
}
.menu-column li {
    display: flex;
    justify-content: space-between; 
    padding: 5px 0;  
}
.price {
    font-weight: bold;
}